*{margin: 0; padding: 0}

body{
    font-family: sans-serif, arial !important;
    transition: all 0.5s ease;
}
body,html{height: 100%;}

img{max-width: 100%;}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}
a{text-decoration: none;}

p{  line-height: 150%;
    margin-bottom: 2em;
}
.fix{overflow: hidden;}

.main_wrapper{
    width: 100%;
    height: auto;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
    display: block;
}

.floatleft{float: left;}

.floatright{float: right;}


    /* strat from here */

.header_bg{background: #e8e8e8;}

#head_section{
    margin: 20px 0;
    overflow: hidden;
}
#head_section .logo{
    font: bold 33px qlassik;
    color: #393939;
}
#head_section .menuBar{
    background: #f2f2f2;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #AFAFAF;
    margin-top: 15px;
    padding: 2px 0;
}
#head_section .menuBar ul{
   list-style: none; 
}
#head_section .menuBar ul li{
    float: left;
    padding: 5px 15px;
    background: url("images/menu_border.png")no-repeat;
    background-position: center right;
}
#head_section .menuBar ul li:last-child{
    background: none;
}
#head_section .menuBar ul li:last-child:hover{
    background: url("images/menu_background02.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
#head_section .menuBar ul li:hover{
    background: url("images/menu_background01.png") no-repeat;
    background-position: center center;
    background-size: cover;
}
#head_section .menuBar ul li a{
    font: normal 19px qlassik;
    color: #525252;
    display: block;
}

        /* slider part start */

.slider_bg{background-color: #e8e8e8;}

.slider-wrapper {
    width: 98%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 9px;
}
.theme-light a.nivo-prevNav,.theme-light a.nivo-nextNav{
    background-color: #c5c5c5;
    border-radius: 50%;
}
.theme-light a.nivo-prevNav:hover{
    background-color: #8D8D8D;
    border-radius: 50%;
}
.theme-light a.nivo-nextNav:hover{
     background-color: #8D8D8D;
    border-radius: 50%;
}
.shadow{
    background: url("images/slide_shadow.png") no-repeat;
    background-position: bottom center;
    padding-bottom: 1px;
}

        /* slider bottom area start */

.slider_bottom_area_bg{background: #e8e8e8;}

.slider_bottom_area{margin-top: 49px;}

.slider_bottom_area p{
    font: normal 28px qlassik;
    color: #747474;
    text-align: center;
}

        /* column wrapper area start*/

.column_wrapper_bg{background: #e8e8e8;}       

.column_wrapper{margin: 20px 0px;}
.single_column{
    text-align: center;
    float: left;
    width: 185px;
    margin-right: 50px;
}

.first_column{margin-right: 35px;}

.last_column{margin-right: 0;}

.single_column h2{
    font: normal 22px qlassik;
    color: #3A3A3A;
}
.single_column p{
    font: normal 14px qlassik;
    color: #3a3a3a;
}

        /* content wrapper area strt */

.content_wrapper_bg{background: #e8e8e8;}

.content_wrapper{margin: 50px 0;}

.left_content{
    float: left;
    width: 455px;
    margin-right: 50px;
}
.left_content .about_us h2{
    background: url("images/brifcase.png") no-repeat;
    background-position: left center;
    padding-left: 36px ;
    font: bold 25px qlassik;
    color: #3A3A3A;
    margin-bottom: 25px;
}
.left_content .about_us p{
    font: normal 14px qlassik;
    color: #3a3a3a;
}
.right_content{
    float: right;
    width: 455px;
}
.right_content h2{
    background: url("images/book.png") no-repeat;
    background-position: left center;
    padding-left: 36px ;
    font: bold 25px qlassik;
    color: #3A3A3A;
    margin-bottom: 25px;
}

.right_content ul{list-style: none;}

.right_content ul li{
    float: left;
    margin: 0 10px;
    padding: 6px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
}

        /* upper footer area star */

.upper_footer_bg{
    overflow: hidden;
    background: url("images/upper_footer_bg.png") repeat-x;
    background-size: cover;
}
.upper_footer_area{
    overflow: hidden;
    padding: 20px;
}
.upper_footer_area .single_footer_area ul{
    list-style: none;
}
.upper_footer_area .single_footer_area ul li{
    background: url("images/tic_mark.png") no-repeat;
    background-position: left center;
    padding: 10px 0;
    padding-left: 36px;
}
.upper_footer_area .single_footer_area ul li a{
    font: normal 14px qlassik;
    color: #9e9e9e;
}
.upper_footer_area .first{
    float: left;
    width: 265px;
    margin-right: 75px;
}
.upper_footer_area .first h2{
    font: bold 25px qlassik;
    color: #C9C9C9;
    background: url("images/recent_icon.png") no-repeat;
    background-position: left center;
    padding-left: 36px;
}
.upper_footer_area .second{
    float: left;
    width: 135px;
    margin-right: 150px;
}
.upper_footer_area .second h2{
    font: bold 25px qlassik;
    color: #C9C9C9;
    background: url("images/archives_icon.png") no-repeat;
    background-position: left center;
    padding-left: 36px;
}
.upper_footer_area .third{
    float: left;
    width: 290px;
    margin-right: 0;
}
.upper_footer_area .third h2{
    font: bold 25px qlassik;
    color: #C9C9C9;
    background: url("images/smal_twitter_icon.png") no-repeat;
    background-position: left center;
    padding-left: 36px;
}
.twitter_section{
    background: url("images/twitter_comment_bg.png") no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    padding: 15px;
}
.twitter_section p{
    font: italic 14px qlassik;
    color: #9D9D9D;
}
.twitter_section a{
    font: normal 12px qlassik;
    color: #6d9120;
}
.twitter_section .http{
    font: italic 14px qlassik;
    color: #6d9120;
}
.twitter_bird{
    float: right;
    padding-right: 3px;
}

        /* footer start */

.fotter_bg{
    background: url("images/footer_bg.png") repeat-x;
    background-size: cover;
}

#footer{margin: 20px 0;}

.footer_left{
    float: left;
    margin-left: 25px;
}
.footer_left p{
    font: normal 12px qlassik;
    color: #AAAAAA;
}
.footer_right{
    float: right;
    margin-right: 135px;
}

.footer_right ul{list-style: none;}

.footer_right ul li{
    float: left;
    padding: 0 5px;
}
 .footer_right ul li:first-child{
     padding-right: 1px;
 }